<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Waltham Community Forum</title>
    <meta name="description" content="Roughly 155 characters">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Waltham Community Forum</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/waltham_forum.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
      <div id="nav">
        <div class="col-sm nav-align"><h1 id="title">Covid-19 Latest Update</h1></div>
        <div class="col-sm nav-align">
          <a href="/"> <span class="w3-button w3-white w3-round-xxlarge">Home</span> </a>
          <a href="/house.html"> <span class="w3-button w3-white w3-round-xxlarge">House For Rent</span> </a>
          <a href="/restaurant.html"> <span class="w3-button w3-white w3-round-xxlarge">Restaurants Open Now</span> </a>
          <a href="/covid19.html"> <span class="w3-button w3-white w3-round-xxlarge">Covid-19 Latest Update</span> </a>
        </div>      
      </div>
    <!-- Content -->
    <p style="text-align: center;"> 
      This page will be placed with the real-time updates if later we learn how to fetch data. 
      <br><br><br>
      <img src="https://www.city.waltham.ma.us/sites/walthamma/files/bulletins/new_banner_size-1.png" style="width:600px; height: 400px;">
      <br>
      <a href = "https://www.city.waltham.ma.us/covid-19"> For More Info: Click Here</a>
    </p>
  </body>
</html>
