<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wentao's Bio</title>
    <meta name="description" content="Roughly 155 characters">
    <link rel="stylesheet" href="myStyle.css">
  </head>
  <body>
    <!-- Content -->
    <h1 style = "text-align: center;">Wentao's First Page</h1>
    <p style="text-align: center;">My name is Wentao Li, a sophomore studying computer science at brandeis. In my spare time, I'd love to watch Formula One Matches and NBA.</p>
    <p style="text-align: center;"><img src="tt.jpg" alt="description" width="500"/></p>
    <p style="text-align: center;">
        <a href="https://www.instagram.com/dylanttttt/">
            Follow My Instagram
        </a>
    </p>
  </body>
</html>