<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jian's Bio</title>
  </head>
  <body>
	<h1>Jian's webpage</h1>
	<p>Picture of me</p>
	<p><img src="photo.jpg"alt="description" height="150"/></p>
    <!-- Content -->
	<p>Something about me</p>
	<ul>
	  <li>I am 20 years old and will be 21 this summer</li>
	  <li>I come from China.</li>
	  <li>I study in Brandeis University and I am a rising junior student.</li>
	  <li>I am majoring in Applied math and computer.
	</ul>
	<p>The place I have been</p>
	<ul>
		<li>China</li>
		<li>Thailand</li>
		<li>USA</li>
		<li>UK</li>
		<li>Germany</li>
		<li>French</li>
		<li>Belgium</li>
	</ul>
  </body>
</html>