<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kailin's Web Page</title>
    <meta name="description" content="Roughly 155 characters">
    <link rel="stylesheet", href="myStyle.css">
  </head>
  <body>
    <!-- This is a comment -->
    <h1> Kailin's first web page </h1>
    <h2> A photo of me </h2>
    <br>
    <img src="Me.jpeg", width = "300">
    <h2> Courses taken this summer </h2>
    <h3>
      <ul>
        <li>CS 152A Web Application Development</li>
        <li>CS 153A Mobile Application Development</li>
      </ul>
    </h3>

    <h2> Class Schedule </h2>
    <h3>
    <table>
      <thead>
        <tr>
            <th>Class Name</th>
            <th colspan="">Period</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>CS 152A</td>
            <td colspan="">11:10AM - 1:10PM</td>
        </tr>
        <tr>
            <td>CS 153A</td>
			      <td colspan="">9:00AM - 11:00AM</td>
        </tr>
      </tbody>
    </table>
    </h3>
  </body>
</html>
