<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My First Page</title>
    <meta name="description" content="Roughly 155 characters">
    <style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    h3 {text-align: center;}
    p  {text-align: center;}
    div {text-align: center;}
    </style>
  </head>
  <style>
  body {
    background-image: url('wall.jpg');
  }
  </style>
  <style>
  table {
    width:500px;
    margin: 10px auto;
  }
  </style>
  <style>
  ul {
    display: table;
    margin: 0 auto;
  }
  </style>
  <body>
    <h1>Kexin Zhang</h1>
    <h2>Class of 2021</h2>
    <h3>Applied Mathematics, Economics, Computer Science</h3>
    <p><img src="preview.jpg" alt="description" width="150" height="200" /></p>
    <br>
    <font size="5">
    <table><caption><p><strong>Contact Information</strong></p></caption>
    <thead>
    <tr>
    <th>Means</th>
    <th colspan="">U.S.</th>
    <th colspan="">China</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Email</td>
    <td>kzsteph@brandeis.edu</td>
    <td>europe_zhang@126.com</td>
    </tr>
    <tr>
    <td>Phone</td>
    <td>(+1)7815471811</td>
    <td>(+86)15900467969</td>
    </tr>
    </tbody>
    </table>
    </font>
    <br>

    <font size="5">
    <p><strong>Hobbies</strong></p>
    <ul>
    <li>Video Gamesx</li>
    <li>Watching Thriller Films</li>
    <li>Sketching</li>
    <li>Swimming</li>
    </ul>
    </font>
    <!-- Content -->
  </body>
</html>
