body {
	font-family: georgia, sans-serif;
	color: #B30000;
  background: #fff url(http://csszengarden.com/001/blossoms.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 500px, 1000px;
	}
h1 {
	font-family: georgia, sans-serif;
	color: #B30000;
	}
h2 {
  font-family: georgia, sans-serif;
  color: #B35900;
  }
h3 {
  font-family: georgia, sans-serif;
  color: #000000;
  }
