
.backimg {
  background-color: white;
  background-position:center top;
  background-size: 100px 100px;
  padding-top: 25px;
  opacity:1;

   }

body{
    background: url(waltham.jpg);
    background-repeat:no-repeat;
}
