<div class="container">
  <h1>Covid19 Status</h1>
  <div >
    <form method="post" action="/courses">
      <table class="table table-bordered">
        <tbody>
          <tr><td>State: </td>
              <td> <input type="text" name="state" placeholder="e.g. MA"></td>
          </tr>
          <tr>
            <td> Data type</td>
            <td>
              <select name="dataType">
                <option value="">Positive</option>
                <option value="1193">Recovered</option>
                <option value="1201">Death</option>
                <option value="1202">Total Test Result</option>
              </select>
            </td>
          </tr>
          </tbody>
      </table>
      <input type="submit">
    </form>
  </div>
  

  <div class= "col-sm-6">
    <h1> Positive list of all states</h1>
        <% data.forEach((item) => {%>
          <hr>
          <%= item.state %> <%= item.positive %>
        <%});%>
  </div>
</div>
