<div class="col-sm nav-align"><h1 id="title">House For Rent</h1></div>

<!-- <h1 style = "text-align: center;">Available Housing</h1> <br> -->
  <!-- <div>
    <ul style = "list-style-type: none;">
      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: x-large;">
            <a href="https://www.equityapartments.com/greater-boston/waltham/longview-place-apartments?mkwid=sEhVAW8ek_dc&pcrid=186075066450&pkw=longview%20place%20apartments%20waltham&pmt=e&utm_source=google&utm_medium=cpc&utm_term=longview+place+apartments+waltham&utm_campaign=&utm_group=Longview+Place+Apartments&gclsrc=aw.ds&&utm_source=google&utm_medium=cpc&utm_campaign=EQR_Boston_Properties_Search_Branded_Exact_Null&mkwid=sEhVAW8ek|pcrid|186075066450|pkw|longview%20place%20apartments%20waltham|pmt|e|pdv|c|slid||product||pgrid|39963765599|ptaid|aud-300020337245:kwd-341693805839|&pgrid=39963765599&ptaid=aud-300020337245:kwd-341693805839&utm_content=sEhVAW8ek|pcrid|186075066450|pkw|longview%20place%20apartments%20waltham|pmt|e|pdv|c|slid||product||pgrid|39963765599|ptaid|aud-300020337245:kwd-341693805839|&intent=&gclid=Cj0KCQjwoPL2BRDxARIsAEMm9y_bve33wOvNumBdrWAUGU4YG4yOukJueeSFX7PXy_Au-bZmlRTUqsYaAlj3EALw_wcB">Longview Place Apartment</a><br>70 Hope Ave Ste 100<br>‎$1,975.00 ~ $3,175.00
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://media.equityapartments.com/images/c_crop,x_0,y_0,w_1920,h_1080/c_fill,w_1920,h_1080/q_80/2500-1/longview-place-apartments-building.jpg" style="width: 250px; height: 120px; vertical-align: center;"/></div>
      </li>

      <br><br><br><br><br><br><br>

      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: x-large;">
            <a href="https://www.equityapartments.com/greater-boston/waltham/cronins-landing-apartments">Cronins Landing Apartmentt</a><br>25 Crescent St<br>$2,080.00 ~ $2,890.00
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://media.equityapartments.com/images/c_crop,x_0,y_0,w_1920,h_1080/c_fill,w_1920,h_1080/q_80/4068-83/cronins-landing-apartments-exterior.jpg" style="width: 250px; height: 120px; vertical-align: center;"/></div>
      </li>

      <br><br><br><br><br><br><br>

      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: x-large;">
            <a href="https://www.edisononthecharles.com/?gclid=Cj0KCQjwoPL2BRDxARIsAEMm9y9Bv3Vu332eKriWhn1iiHIM-DjtSNAuh5spf4Bz_9vlIByQPLYIwtUaAmapEALw_wcB#/">The Edison on the Charles</a><br>20 Cooper Street<br>$2,425.00 ~ $4,050.00
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://www.edisononthecharles.com/assets/img/edison-on-the-charles-exterior-2019-01.jpg" style="width: 250px; height: 120px; vertical-align: center;"/></div>
      </li>

      <br><br><br><br><br><br><br>

      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: x-large;">
            <a href="https://www.liveatthemerc.com/">The Merc at Moody and Main</a><br>45 Moody St<br>$2,195.00 to $4,780.00
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://i1.wp.com/bostonrealestatetimes.com/wp-content/uploads/2017/10/Merc-Photo-Gregg-Shupe-Shupestudios-e1507833964953.jpg?fit=820%2C546&ssl=1" style="width: 250px; height: 120px; vertical-align: center;"/></div>
      </li>


    </ul>
  </div> -->

  <!-- <div class="container" style = "text-align: center;">
    <p>Fill this form to submit your house information.</p>
      <a href="/HouseForm.html"> <span class="w3-button w3-white w3-round-xxlarge">house_form</span> </a> -->
  

  <div style="text-align: center;">
    <p>Enter Your House Info If You Want to Rent it Out!</p>
    <form action="/houseForRent" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
      <br>
      <label for="address">Address</label>
      <input type="text" name="address" value="">
      <br>
      <label for="landlordPhone">Landlord Phone</label>
      <input type="text" name="landlordPhone" value="">
      <br>
      <label for="rent">Rent</label>
      <input type="number" name="rent" value="">
      <br>
      <label for="startDate">Start Date</label>
      <input type="text" name="startDate" value="">
      <br>
      <label for="endDate">End Date</label>
      <input type="text" name="endDate" value="">
      <br>
      <label for="picUrl">Picture Url</label>
      <input type="text" name="picUrl" value="">
      <br>
      <input class="button" type="submit" value="submit">
      </form>
      <p> We'll get back to you soon!</p>
      </div>
  </div>