<div class="col-sm nav-align"><h1 id="title">Restaurants Open Now</h1></div>
<h1 style = "text-align: center;">Available Restaurants</h1> <br>

<div>
    <ul style = "list-style-type: none;">
      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: medium;">
            <a href="https://mulantaiwanwaltham.com/">Mulan Taiwanese restaurant</a> <br>
            835 Main Street<br>‎
            Mon. - Thu. & Sun.<br>
            11 am - 9:30 pm<br>
            Fri. & Sat<br>
            11 am - 10:30 pm<br>
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://1.bp.blogspot.com/-PiSHNu4kn0s/XWgK8zwev8I/AAAAAAAAcJI/CJZndxLCUDQ9U6PDS0KmI3juZjjSX7DxACKgBGAs/s1600/IMG_0125.png" style="width: 250px; height: 150px; vertical-align: center;"/></div>
      </li>

      <br><br><br><br><br><br><br><br><br><br>

      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: medium;">
            <a href="https://bonchon.com/korean-fried-chicken-waltham-moody-st-ma/">Bonchon Waltham</a><br>
            329 Moody St<br>
            Mon. - Thu. & Sun.<br>
            11:30 am - 10 pm<br>
            Fri. & Sat<br>
            11:30 am - 10:30 pm<br>
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://pbs.twimg.com/media/D3PIOD0W0AADeD9.jpg" style="width: 250px; height: 150px; vertical-align: center;"/></div>
      </li>

      <br><br><br><br><br><br><br><br><br><br>

      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: medium;">
            <a href="https://www.pho1walthamma.com/">
              Pho 1 Waltham
            </a>
              <br>
              374 Moody St<br>
              Mon. - Thu. & Sun.<br>
              11:30 am - 10 pm<br>
              Fri. & Sat<br>
              11:30 am - 11 pm<br>
              Sun<br>
              12 pm - 10pm<br>
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://cdn.usarestaurants.info/assets/uploads/57e5764f29542c7fca477dce9fbea914_-united-states-massachusetts-middlesex-county-waltham-pho-1-waltham-781-891-6977htm.jpg" style="width: 250px; height: 150px; vertical-align: center;"/></div>
      </li>

      <br><br><br><br><br><br><br><br><br><br>

      <li>
        <div class="col-sm-6">
          <p style="text-align: center; font-size: medium;">
            <a href="https://www.liveatthemerc.com/">
              Joseph Two</a>
              <br>
              805 Main Street<br>
              Temporalily Closed<br>
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;"><img src="https://media-cdn.tripadvisor.com/media/photo-s/04/86/0e/01/exterior-by-the-parking.jpg" style="width: 250px; height: 150px; vertical-align: center;"/></div>
      </li>
    </ul>
</div>
